@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

[v-cloak] {
  display: none;
}

.navfix {
  padding-top: 25px;
}

*:focus { outline: 0 !important; }

.navbar-inverse .navbar-toggler {
  border-color: transparent;
}

.dropdown-menu {
  background-color: #292b2c;
  border: none;
}
.dropdown-item {
  color: lightgrey;
}
.dropdown-item:hover {
  color: white;
  background-color: transparent;
}
