{% extends '_base/base.html' %}
{% load static %}

{% block content %}

<div class="container">

  <h2> Add a movie </h2>

  {% verbatim %}
  <div id="app" v-cloak>

    <br>

    <div> Add Movie from IMDB Url - e.g, http://www.imdb.com/title/tt4425200/ </div>
    <input v-model="url" v-on:keyup.enter="getMovie(url)" type="text" class="form-control">
    <div> {{ url }} </div>

    <br>

    <div v-if="movie.title">
      <img :src="movie.photo" :alt="movie.title">
      <ul>
        <li> {{ movie.title }} </li>
        <li> {{ movie.rated }}</li>
        <li> {{ movie.imdb_id }}</li>
        <li> {{ movie.plot }}</li>
        <li> {{ movie.runtime }}</li>
        <li> {{ movie.year }}</li>
        <li> {{ movie.iso_date }}</li>
        <li> {{ movie.release_date}}</li>
      </ul>
      <button type="button" class="btn btn-primary" v-on:click="add_movie()"> Add to Watchlist </button>
    </div>

  </div>
  {% endverbatim %}

</div>

{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="{% static 'js/add_movie.js' %}"></script>
{% endblock %}
