{% extends '_base/base.html' %}

{% block content %}

<div class="container">

  <h2> Archived Movies </h2>

  <div><a href="{% url 'movies.watchlist' %}"> Watchlist </a></div>
  <div><a href="{% url 'movies.archive' %}"> Archived </a></div>
  <div><a href="{% url 'movies.add' %}"> Add Movie </a></div>

  {% if movies %}
  <ul>
    {% for movie in movies %}
    <li> {{ movie.title }} </li>
    {% endfor %}
  </ul>
  {% else %}
  <div> No Archived Movies </div>
  {% endif %}

</div>

{% endblock %}
